@import 'button'
@import 'config'
@import 'utils'

.btn
  &.btn-cta
    @include btn($primary-color, $bg-color, 'true')
    &:hover
      @include btn($bg-color, $bg-color-2, 'true')
      box-shadow: shadow
  &:hover
    @include btn($bg-color-2, $bg-color, 'true')
    box-shadow: $shadow
*
  @include reset-pm()
  box-sizing: border-box
  transition: .2s

body
  background-color: $primary-color 
  font-family: Arial, Helvetica, Sans-Serif

a
  text-decoration: none
  color: $bg-color

h2
  font-weight: bolder
  font-size: size(6)

h3
  font-weight: lighter
  font-size: size(3)

.container
  background-color: white
  margin: ($unit * 8) auto
  width: 90%
  padding: 50px
  box-shadow: 0 0 2px 2px rgba(0,0,0,.15)
  border-radius: $unit
  // background-image: url()
  // background-size: 100% 100%

ul
  @include reset-pm()
  list-style: none
  display: flex
  align-items: center
  gap: 20px
  margin-bottom: $unit
  li
    a
      @include btn($bg-color-2, $bg-color, 'true')
      &:hover
        box-shadow: $shadow
        @include btn($bg-color, $bg-color-2, 'true') 

header
  nav
    display: flex
    align-items: center
    justify-content: space-between

.prices
  .prev
    font-size: size(2)
    font-weight: bolder
    color: $font-color
    text-decoration: line-throught
  .now
    font-size: size(5)
    font-weight: bolder

.row
  display: flex
  align-items: center
  .col
    width: 50%
  .col-30
    width: 30%

  .col-70
    width: 70%
  
.m-auto
  margin: 0 auto

@for $i from 1 to $limit
  .m-#{$i}
    margin: $i * $unit
@for $i from 1 to $limit
  .p-#{$i}
    padding: $i * $unit
@for $i from 1 to $limit
  .py-#{$i}
    padding: ($i * $unit) 0
  
@for $i from 1 to 4
  .w-#{$i}
    width: $i * 25%